html, body{
    margin: 0;
    background-color: #293E53 !important;
    padding: 0;
}
.login-form{
    width: 400px;
    margin: 50px auto;
    padding: 30px;
    background-color: #f5f7f9;
    border-radius: 5px;
}
.header{
    background-color: #F4F5F7;
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #E5E4E9;
}
.header .user{
    float:right;
    margin-right: 20px;
    line-height: 45px;
}
.header .user:hover{
    cursor: pointer;
}
.header .user:hover .nav{
    visibility: visible;
    opacity: 1;
}
.header .user .nav{
    background-color: rgba(0,0,0, .7);
    right: 10px;
    display: block;
    visibility: hidden;
    opacity: 0;
    z-index: 100;
    color: #fff;
    width: 200px;
    position: absolute;
    transition: visibility 0s, opacity 0.5s linear;
}
.header .user .nav .item{
    color: #ccc;
    width: 100%;
    height: 45px;
    display: block;
}
.header .user .nav .item:hover{
    text-decoration: none;
}
.container-fluid{
    transition: 1s;
    padding-right: 0 !important;
    padding-left: 0 !important;
    margin-left: 250px !important;
    width: calc(100% - 250px) !important;
    background-color: #e5e7e9;
    min-height: 626px;
}
.logo-container{
    height: 50px;
    border-bottom: 1px solid #2c445b;
}
.mobile{
    display: none;
}
.hide-nav{
    float:right;
    margin: 12px;
    color: #E5E4E9;
}
@media only screen and (max-width: 938px) {
    .sidebar:not(.enabledMobile) {
        margin-left: -250px;
    }
    .toggle-nav{
        float:left;
        line-height: 50px;
        margin-left: 20px;
        display: block;
    }
    .mobile{
        display:block;
    }
    .container-fluid{
        margin-left: 0 !important;
        width: 100% !important;
    }
}
.sidebar{
    float:left;
    background-color: #293E53;
    width: 250px;
    position:absolute;
    margin-left: 0;
    transition: 1s;
}
.navigation .item{
    text-align: left;
    padding-left: 20px;
    color: #ccc;
    line-height: 30px;
    width: 100%;
    height: 30px;
    display: block;
    border-bottom: 1px solid #2c445b;
}
.navigation .item:hover{
    text-decoration: none;
    background-color: #2c445b;
}
.content{
    padding: 10px;
}