<div class="header">
    <div class="toggle-nav mobile"><i class="fas fa-bars"></i></div>
    <div class="user">
        <i class="far fa-user-circle"></i> {{ me.vardas }} {{ me.pavarde }} <i class="fas fa-caret-down"></i>
        <div class="nav">
            <a class="item" href="{{ config.directory }}/admin/index/logout">Atsijungti</a>
        </div>
    </div>
</div>