{% include 'admin/header.twig' %}
{% include 'admin/sidebar.twig' %}
<script type="text/javascript" src="{{ config.directory }}/scripts/printThis.min"></script>
<div class="container-fluid">
    {% include 'admin/admin.header.twig' %}
    <div class="content">
        {% for message in messages %}
            {% if message.type == "error" %}
                <div class="alert alert-danger">
                    {{ message.text }}
                </div>
            {% elseif  message.type == "success"%}
                <div class="alert alert-success">
                    {{ message.text }}
                </div>
            {% endif %}
        {% endfor %}


        <button type="submit" class="btn btn-primary" onclick="printElement('#printableTable', 40)" style="float:right;margin: 5px;"><i class="fas fa-print fa-lg"></i></button>
        {% if create_url is defined %}
            <a href="{{ config.directory }}/admin/{{ create_url }}">
                <button type="submit" class="btn btn-primary" style="float:right;margin: 5px;">
                    Sukurti
                </button>
            </a>
        {% endif %}
        {% if filter_name is defined %}<input class="form-control" data-filter-name="{{ filter_name }}" style="float:left; width: 200px;" id="search">{% endif %}
        <table id="printableTable" class="table"
                {% if data_url is defined %}data-url="{{ config.directory }}/admin/{{ data_url }}"{% endif %}
                {% if data_exclude is defined %}data-exclude='{{ data_exclude }}'{% endif %}
                {% if edit_url is defined %}data-edit-url="{{ config.directory }}/admin/{{ edit_url }}"{% endif %}
                {% if delete_url is defined %}data-delete-url="{{ config.directory }}/admin/{{ delete_url }}"{% endif %}
            >
            <thead class="thead-light">
            <tr>
                {{ table_head | raw }}
            </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <nav aria-label="Page navigation example">
            <ul id="pagination" class="pagination justify-content-end">

            </ul>
        </nav>
    </div>
</div>
{% include 'admin/admin.footer.twig' %}