{% include 'admin/header.twig' %}
{% include 'admin/sidebar.twig' %}
<div class="container-fluid">
    {% include 'admin/admin.header.twig' %}
    <div class="content">
        {% for message in messages %}
            {% if message.type == "error" %}
                <div class="alert alert-danger">
                    {{ message.text }}
                </div>
            {% elseif  message.type == "success"%}
                <div class="alert alert-success">
                    {{ message.text }}
                </div>
            {% endif %}
        {% endfor %}
        {% if values is defined and values is not null %}
        <form method="post">
            {% for field in editable_fields|keys %}
                {% if editable_fields[field].type == "text" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <input type="text" class="form-control" name="{{ field }}" placeholder="{{ editable_fields[field].title }}" value="{{ values[field] }}">
                    </div>
                {% elseif editable_fields[field].type == "password" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <input type="password" class="form-control" name="{{ field }}" placeholder="{{ editable_fields[field].title }}">
                    </div>
                {% elseif editable_fields[field].type == "email" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <input type="email" class="form-control" name="{{ field }}" placeholder="{{ editable_fields[field].title }}" value="{{ values[field] }}">
                    </div>
                {% elseif editable_fields[field].type == "datetime" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <input type="text" class="form-control" name="{{ field }}" placeholder="{{ editable_fields[field].title }}" value="{% if values[field] %}{{ values[field]|date("Y-m-d H:i:s") }}{% endif %}">
                    </div>
                {% elseif editable_fields[field].type == "number" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <input type="number" class="form-control" name="{{ field }}" placeholder="{{ editable_fields[field].title }}" value="{{ values[field] }}">
                    </div>
                {% elseif editable_fields[field].type == "float" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <input type="number" step="0.01" class="form-control" name="{{ field }}" placeholder="{{ editable_fields[field].title }}" value="{{ values[field] }}">
                    </div>
                {% elseif editable_fields[field].type == "select" %}
                    <div class="form-group">
                        <label>{{ editable_fields[field].title }}:</label>
                        <select class="form-control" name="{{ field }}">
                            {% for key in editable_fields[field].values|keys %}
                                <option value="{{ key }}" {% if values[field]==key %}selected{% endif %}>{{ editable_fields[field].values[key] }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}
            {% endfor %}
            <button type="submit" class="btn btn-primary">Išsaugoti</button>
        </form>
        {% endif %}
    </div>
</div>
{% include 'admin/admin.footer.twig' %}