{% include 'admin/header.twig' %}
{% include 'admin/sidebar.twig' %}
<script type="text/javascript" src="{{ config.directory }}/scripts/printThis.min"></script>
<div class="container-fluid">
    {% include 'admin/admin.header.twig' %}
    <div class="content">
        {% for message in messages %}
            {% if message.type == "error" %}
                <div class="alert alert-danger">
                    {{ message.text }}
                </div>
            {% elseif  message.type == "success"%}
                <div class="alert alert-success">
                    {{ message.text }}
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>
{% include 'admin/admin.footer.twig' %}