{% include 'admin/header.twig' %}
    <form class="login-form" method="post">
        <img width="200" src="{{ config.directory }}/images/logo.png">
        <br>
        <small style="position: relative;color:#a0a8b0;">Administracijos pultas</small>
        <br><br>

        {% for message in messages %}
            {% if message.type == "error" %}
                <div class="alert alert-danger">
                    {{ message.text }}
                </div>
            {% endif %}
        {% endfor %}
        <div class="form-group">
            <label for="exampleInputEmail1">El. pašto adresas:</label>
            <input type="email" class="form-control" name="email" placeholder="El. pašto adresas" {% if email is defined and email != false %} value="{{ email }}" {% endif %}>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Slaptažodis</label>
            <input type="password" class="form-control" name="password" placeholder="*****" {% if password is defined and password != false %} value="{{ password }}" {% endif %}>
        </div>
        <button type="submit" class="btn btn-primary">Prisijungti</button>
    </form>
{% include 'admin/admin.footer.twig' %}
