<div class="sidebar">
    <div class="logo-container">
        <img style="margin: 10px 0;" width="150" src="{{ config.directory }}/images/logo.png"> <div class="hide-nav mobile"><i class="fas fa-arrow-left"></i></div>
    </div>
    <div class="navigation">
        {% if me.pareigu_id == 1 or me.pareigu_id == 2 %}
        <a class="item" href="{{ config.directory }}/admin/employees"><i class="fas fa-user-tie"></i> Darbuotojai</a>
        {% endif %}
        {% if me.pareigu_id == 1 or me.pareigu_id == 2 %}
        <a class="item" href="{{ config.directory }}/admin/users"><i class="fas fa-user"></i> Pirkėjai</a>
        {% endif %}
        {% if me.pareigu_id == 1 or me.pareigu_id == 2 or me.pareigu_id == 3 %}
        <a class="item" href="{{ config.directory }}/admin/goods"><i class="fas fa-shopping-basket"></i> Prekės</a>
        {% endif %}
        {% if me.pareigu_id == 1 or me.pareigu_id == 2 %}
        <a class="item" href="{{ config.directory }}/admin/orders"><i class="fas fa-cart-arrow-down"></i> Užsakymai</a>
        {% endif %}
    </div>
</div>